.header{
    display: flex;
}

a{
    text-decoration: none;
}
.header > div{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.squarepart{
    margin-top: 50px ;
}

@media (max-width: 768px) {
    .header {
      flex-direction: column;
    }

    .Testinomilas {
        flex-direction: column;
        margin-top: 280px;
    }

    .WelcomeGraph {
        flex-direction: column;
        margin-left: -80px;
        margin-top: 300px;
        max-width: 768px;
    }

    .WelcomeGraph .welomeparashort {
        font-size: 18px;
        width: 400px;
        height: fit-content;
    }

    .WelcomeGraph .welcomepara {
        font-size: 40px;
        width: 440px;
    }

    .WelcomeGraph #Square {
        width: 300px;
        height: 300px;
        top: -30px;
    }

    .WelcomeGraph #Square2 {
        width: 300px;
        height: 300px;
        top: 30px;
    }

    .Testinomilas .internati{
        margin-left: 0px;
        margin-bottom: 60px;
        padding-left: 130px;
        font-weight: 900;
        margin-top: 20px;
    }

    .Testinomilas .Nati{
        padding-left: 160px;
        margin-top: 50px;
        font-weight: 900;
        border-right: 0px;
        border-bottom: 2px solid #0DB760;
        padding-bottom: 20px;
    }
}

#Logo{
    color: green;
    font-size: 30px;
    flex-grow: 6;
    text-align: left;
}

#downloadcv{
    border: 2px solid green;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}

#downloadcv:hover{
    background-color: rgba(0, 0, 0, 0.297);
}

.welcome{
    position: relative;
    width: 77px;
    height: 23px;
    left: 12px;
    top: -32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    display: flex;
    align-items: center;
    color: #0DB760;
}

.eclipse{
    display: flex;
    width: 99px;
    height: 42px;
    left: 165px;
    top: 180px;
    border-radius: 50%;
    border: 0.5px solid #0db760;
}

.onlypara{
    display: flex;
    flex-direction: column;
    margin-right: 180px;
}

.welcomepara{
    display: flex;
    margin-bottom: 20px;
    width: 600px;
    height: 140px;
    font-weight: 600;
    font-size: 55px;
    line-height: 70px;
    color: #0B0C0C;
}

.WelcomeGraph{
    display: flex;
    position: absolute;
    left: 90px;
    top: 200px;
    width: fit-content;
    max-width: 100%;
}

.welomeparashort{
    display: flex;
    width: 500px;
    margin-bottom: 90px;
    height: 80px;
    font-size: 16px;
    color: #323433;
}

#creativ{
    color: green;
    display: contents;
}

#name{
    color: #0DB760;
    display: contents;
}

#Square{
    width: 401px;
    height: 401px;
    position: relative;
    top: -200px;
    left: 50px;
    margin-bottom: -200px;
    border: 5px solid #000000;  
    border-radius: 2px;
}

#Square2{
    width: 420px;
    height: 420px;
    position: relative;
    top: -20px;
    left: 100px;
    margin-bottom: -200px;
    background: #0DB760;
    border-radius: 2px;
    z-index: -1;
}

.sidecl{
    display: flex;
    font-weight: 600;
}


#contact{
    margin-right: 30px;
    border: 1px solid black;
    padding: 10px;
    color: white;
    background-color: #0DB760;
}

#learn{
    margin-right: 20px;
    border: 1px solid green;
    padding: 10px;
    color: black;
}

#contact:hover{
    background-color: #0db75f79;
}

#learn:hover{
    background-color: #0000003d;
}


.Testinomilas{
    position: relative;
    top: 670px;
    display: flex;
    justify-content: center;
}

.Testinomilas > a{
    font-size: 30px;
    font-weight: 900;
}

.Nati{
    border-right: 2px solid #0DB760;
    padding-right: 250px;
}

.internati{
    margin-left: 250px;
}
